@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    background-color: #404040;
    font-family: Quicksand;
}

#masthead{
    margin-top: 75px;
    color: white;
    font-family: Lobster;
}